/* .no-decoration {
    text-decoration: none;
    color: black;
}

.contact-main-footer {
    
    box-shadow: 0 0 0.3rem black;
    /* width: 92vw;
    height: auto;
    border-radius: 10px;
}
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: white;
    padding: 10px 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 0px 2px 2px gainsboro;
    background-color: white;
}

.icon:hover {

    box-shadow: 0px 1px 5px 5px white;
    transition: ease-out 0.5s;
}

.name {
    font-weight: 500;
    color:crimson;
    text-shadow: 0.7px 0.7px red;

}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    margin-left: 25px;
}

.footer-col h4:hover {
    color: crimson;
    transition: ease-out 0.3s;
    padding-left: 15px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: crimson;
    padding-left: 15px;
    font-weight: 500;

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:crimson;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: white;
    background-color: #0D6EFD;

}

.copyright {
    text-align: center;
    color: #888;
    font-size: 14px;
}

@media(max-width: 1005px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;

    }

    .footer {
        text-align: center;
    }
}

.footer-end {
    background-color: rgb(43, 38, 38);
    height: 30px;
}

.footer-end p {
    color: white;
}