@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header{
    border: 1px solid    ;
    display: flex;
    justify-content: space-evenly;
}
.groom-image img , .bride-image img{
    height: 30vw;
    width: 20vw;
}
.header-text{
    display: flex;
    flex-direction: column;
}

.dreams{
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5vw;
}

.dreams h3{
    font-family: 'Kaushan Script' ,cursive;
    font-size: 1.6vw
}
.dreams button{
    width: 8vw;
}
