.contact-main {
  box-shadow: 0 0 0.3rem black;
  border-radius: 10px;
}

.contact-main-left {
  color: white;
  /* background-color: crimson; */
  border-radius: 10px;
}

.text-size-s {
  font-size: 0.7rem;
}

.contact-main-right input,
.contact-main-right textarea {
  font-size: 0.7rem;
}

.socialicon {
  list-style: none;
}

.socialiconbox ul li i {
  font-size: 1.7rem;
  color: white;
}

.socialiconbox {
  border-radius: 2rem;
}

@media (max-width: 767px) {
  .form-group.text-size-s .form-control {
    width: 100%;
  }

  .contact-main {
    flex-direction: column;
  }

  .contact-main-left,
  .contact-main-right {
    width: 100%;
  }
}
.custom-input-w{
  /* width: 10px; */
  height: 2rem;
}
