.header-line {
  background-color: crimson;
  height: 5.5vh;
}

.custom-icons {
  font-size: larger;
}

.contact-main {
  box-shadow: 0 0 0.3rem black;
  /* width: 92vw; */
  height: auto;
  border-radius: 10px;
}

.contact-main-left {
  width: auto;
  max-height: 70vh;
  color: white;
  background-color: crimson;
  border-radius: 10px;
}

.text-smaller {
  font-size: 0.7rem;
}
.contact-main-right {
  color: #939292 !important;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.contact-main-right input {
  font-size: x-small;
  background-color: inherit;
  border: 3px;
}

.custom-vw-vh {
  height: 20px;
  margin-bottom: 10px;
}
.socialicon {
  width: 17rem;
  list-style: none;
  /* border: 1px solid white; */
}

.socialiconbox ul li {
  margin-top: 0.2rem;
}

.socialiconbox ul li i {
  font-size: 1.7rem;
  color: white;
}

.socialiconbox {
  margin-top: 1.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}

.text-size-s {
  font-size: x-small;
}

@media (max-width: 767px) {
  .form-group.text-size-s .form-control {
    width: 100%;
  }
}