*{
  font-family:Judson;

}
.header-text{
  color:crimson;
  
}
.about-heading{
  height:100px;
  color: crimson;
  background-color:gre;
  width:38px;
  position: relative;
  left:570px;
  top:20px;
  z-index:2;
 
}

.red-div{
  width: 1470px;
  height:430px;
  background-color:crimson;
  position: absolute;
  
  z-index:0;
  /* border: 2px solid black; */
  padding: 0;
  margin: 0;
  margin-left:25px;
}

.white-div{
  height:400px;
  width: 1430px;
  margin: 0;
  padding: 0;
  /* border:2px solid black; */
  margin-left:48px;
  position: absolute;
  z-index:1;
  background-color:white;
  /* top:770px; */
  /* padding:30px; */
  display: flex;
}
.about-text{
  width:700px;
  height:280px;
  background-color:white;
  

}

.para{
  position: relative;
  top:60px;
  left:80px;
  font-size:19px;
  font-family: sans-serif;
   
  
}
.para p{
  position: relative;
  top:20px;
}
  

.about-image{
  width:715px;
  height:280px;
  background-color:white;
  /* background-color:white; */

}

.about-image img{
  position: relative;
  left:320px;
}

span {
  font-size: 25px;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  .about-heading {
    left: 50%;
    transform: translateX(-50%);
  }

  .red-div {
    width: 100%;
    top: 450px;
  }

  .white-div {
    width: 100%;
    top: 400px;
    margin-left: 0;
    padding: 15px;
    flex-direction: column;
  }

  .about-text,
  .about-image {
    width: 100%;
    height: auto;
  }

  .para {
    top: 30px;
    left: 0;
    text-align: center;
  }

  .about-image img {
    position: static;
    margin: 0 auto;
    display: block;
  }
}
/* -------------------------------------------------------------------------------------------- */



@media only screen and (max-width: 767px) {
  /* CSS rules for screens less than 768px wide */
  .about-heading {
    left: 50%;
    transform: translateX(-50%);
  }

  .red-div {
    width: 100%;
    top: 450px;
  }

  .white-div {
    width: 100%;
    top: 400px;
    margin-left: 0;
    padding: 15px;
    flex-direction: column;
  }

  .about-text,
  .about-image {
    width: 100%;
    height: auto;
  }

  .para {
    top: 30px;
    left: 0;
    text-align: center;
  }

  .about-image img {
    position: static;
    margin: 0 auto;
    display: block;
  }
}

